<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="COMMON_LOG_PATTERN"
              value="%d{HH:mm:ss.SSS}[%X{X-B3-TraceId:-}]%logger{0} - %msg%n"/>

    <property name="APP_NAME" value="wepay-service"/>
    <property name="LOG_PATH" value="/data/log/${APP_NAME}"/>​
    <property name="MAX_HISTORY" value="7"/>
    <property name="MAX_FILE_SIZE" value="1GB"/>
    <property name="TOTAL_SIZE_CAP" value="10GB"/>

    <appender name="DEFAULT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/log.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="DEFAULT-APPENDER"/>
    </root>

</configuration>